body {
  margin: 0;
  font-family: system-ui, Arial, sans-serif;
  background: #020617;
  color: #e5e7eb;
  text-align: center;
}

header {
  padding: 20px;
  background: #020617;
  border-bottom: 1px solid #334155;
}

button {
  margin-top: 20px;
  padding: 14px 20px;
  border-radius: 12px;
  border: none;
  background: #22c55e;
  color: #020617;
  font-size: 16px;
  font-weight: bold;
}
