* {
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

body {
  margin: 0;
  background: #020617;
  color: #e5e7eb;
}

header {
  background: linear-gradient(135deg,#22c55e,#16a34a);
  color: #020617;
  text-align: center;
  padding: 20px;
}

.container {
  padding: 20px;
  max-width: 500px;
  margin: auto;
}

h2 {
  margin-top: 0;
}

input, select, button {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 10px;
  border: none;
  font-size: 16px;
}

input, select {
  background: #020617;
  color: #e5e7eb;
  border: 1px solid #334155;
}

button {
  background: #22c55e;
  color: #020617;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

.hidden {
  display: none;
}

#routine div {
  background: #020617;
  border: 1px solid #334155;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 8px;
}

.logout {
  background: #ef4444;
  color: white;
}

footer {
  text-align: center;
  padding: 20px;
  color: #64748b;
}
