* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #0f172a;
  color: #ffffff;
}

header {
  background-color: #020617;
  padding: 20px;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  background-color: #020617;
  padding: 10px;
}

nav button {
  background-color: #2563eb;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
}

nav button:hover {
  background-color: #1d4ed8;
}

.screen {
  display: none;
  padding: 20px;
}

.screen.active {
  display: block;
}

.card {
  background-color: #020617;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 15px;
}
/* LOGIN */
input {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  border: none;
}

button {
  width: 100%;
  margin-top: 10px;
}

#login-msg {
  margin-top: 10px;
  color: #38bdf8;
}

.card img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}
